body {
  width: 100%;
  color: white;
}
.main-conteiner {
  max-width: 1600px;
  margin: auto;
  background-image: url("../ress/img/bg/bg-main-conteiner.png");
  height: 2920px;
}
/*

*/
.home-conteiner {
  background-image: url("../ress/img/bg/home-bg.png");
  width: 100%;
  height: 1000px;
}
.home-info {
  width: 1050px;
}
.main-menu {
  text-transform: uppercase;
  margin-left: 340px;
}
.main-menu-item {
  display: inline-block;
  width: 100px;
  text-align: center;
  font-weight: 500;
  height: 70px;
  margin-top: 80px;
}
.main-menu-item:hover {
  color: #f23005;
}
.home-info-small {
  float: right;
  margin-top: 120px;
  font-size: 36px;
  text-transform: uppercase;
}
.home-info-great {
  float: right;
  margin-top: 20px;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 700;
}
.home-info-great-text {
  color: #d13311;
}
.home-page-text {
  margin-top: 20px;
  margin-left: 360px;
  float: right;
  text-align: center;
  opacity: 0.7;
}
.home-button-block {
  float: right;
}
.home-button {
  margin-top: 10px;
  margin-left: 10px;
  width: 150px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px white;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.home-button:hover {
  background-color: #f23005;
  border: #f23005;
}
/*                             



*/
.about-us-conteiner {
  height: 780px;
  display: flex;
}
.about-us-left {
  width: 800px;
}
.about-us-info {
  float: right;
  margin-bottom: 60px;
  width: 600px;
}
.about-us-button {
  float: right;
  margin-top: 10px;
  width: 120px;
  height: 120px;
  background-color: #f23005;
  border: solid 1px #f23005;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.about-us-text {
  margin-top: 10px;
  text-align: center;
  opacity: 0.7;
  float: right;
}
.freedommusic {
  font-weight: 100;
  font-size: 50%;
}
.about-us-right {
  background-image: url("../ress/img/bg/laptop.png");
  width: 800px;
  height: 780px;
}

/*



*/
.statistic-conteiner {
  height: 330px;
  background-color: #d13311;
  display: flex;
}
.statistic-content {
  margin: auto;
  font-size: 80px;
}
.statistic-text {
  text-align: center;
  margin: auto;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 25px;
}
/*     



*/
.info-conteiner {
  height: 650px;
  background-image: url("../ress/img/bg/info-bg.png");
}
.info-content-block {
  width: 960px;
  height: 650px;
}
.info-header {
  float: right;
  margin-top: 260px;
}
.info-text {
  margin-top: 20px;
  margin-left: 320px;
  float: right;
  text-align: center;
  opacity: 0.7;
}
/*


*/
.menu-footer-conteiner {
  height: 190px;
  background-color: black;
}
